body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #111;
    color: white;
}

button {
    padding: 8px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #111;
    color: white;
    font-size: 16px;
    transition: .1s;
}

button:hover {
    background-color: white;
    color: #111;
}

.container {
    height: 90vh;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#scores {
    font-size: 36px;
    font-weight: 900;
    color: #aaa;
}